@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
  --primary: #51525a;
  --secondary: #ebebeb;
  --warning: #da0f41;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--primary);
}
body {
  /* width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden; */
  justify-content: center;
  background: #fafafa;
}

/* buttons */
/* button,
.btn {
  background: rgba(17, 184, 103, 0.8);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  color: white;
}
button:hover,
.btn:hover {
  background: rgba(17, 184, 103, 1);
  color: white;
} */

/* forms */

input,
textarea {
  border: 0;
  border: 2px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

/* error text */

.success p {
  background: rgb(77, 218, 77);
  color: white;
  height: 30;
  border-radius: 10px;
  text-align-last: center;
  vertical-align: middle;
  margin: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
}
label {
  text-align: left;
}

.no-class {
  color: var(--primary);
}
#alert p {
  color: white;
  height: 30;
  border-radius: 20px;
  text-align-last: center;
  vertical-align: middle;
  margin: 10px;
  padding: 20px;
}
#alert {
  border-radius: 20px;
}
.pending {
  cursor: wait;
}
